<% if comment.user.present? %>
	<li id="comment-<%= comment.id %>">
		<span class="user"><%= link_to comment.user.name, comment.user %></span>
		<span class="content">
			<%= comment.content %>
			</span>
		<span class="timestamp">
			
			<% if current_user?(comment.user) %>
				<%= link_to "delete", comment, method: :delete, data: { confirm: "You sure?" } %>
			<% end %>
		</span>
	</li>
<%else%>
	<li>
		<% @comments.each do |i| %>
			<div class="user">
				
				<%= link_to i.user.name, i.user %> <%= i.content %>
				<div class="timestamp">
					<%= time_ago_in_words(i.created_at) %> ago.
				<div>

				<div>
					<% if current_user?(i.user) %>
						<%= link_to "delete", i, method: :delete, data: { confirm: "You sure?" } %>
					<% end %>
				</div>

				<div class="content"></div><hr>
				
				
			</div>
			
		<% end %>
	</li>
<% end %>